.errormessage {
	border-top: #900 5px solid;
	border-left: #900 1px solid;
	margin-top: 5px;
	margin-bottom: 5px;
}

.errormessage .icono{ 
	float: left;
	background-image: url('#{facesContext.externalContext.requestContextPath}/resources/img/errorGrande.gif');
	background-repeat: no-repeat;
	height: 40px;
	width: 32px;
	margin: 5px;
}
 
.errormessage .mensaje{
	margin-left: 50px;
	margin-top: 10px;
	margin-right: 10px;
	min-height: 50px;
}	

.warningmessage {
	border-top: #900 5px solid;
	border-left: #900 1px solid;
	border-color: #c60;
	margin-top: 5px;
	margin-bottom: 5px;
}

.warningmessage .icono{
	float: left;
	background-image: url('#{facesContext.externalContext.requestContextPath}/resources/img/advertenciaGrande.gif');
	background-repeat: no-repeat;
	height: 40px;
	width: 32px;
	margin: 5px;
}

.warningmessage .mensaje{
	margin-left: 50px;
	margin-top: 10px;
	margin-right: 10px;
	min-height: 50px;
}	

.donemessage {
	border-top: #900 5px solid;
	border-left: #900 1px solid;
	border-color: #090;
	margin-top: 5px;
	margin-bottom: 5px;
}

.donemessage .icono{
	float: left;
	background-image: url('#{facesContext.externalContext.requestContextPath}/resources/img/exitoGrande.gif');
	background-repeat: no-repeat;
	height: 40px;
	width: 32px;
	margin: 5px;
}

.donemessage .mensaje{
	margin-left: 50px;
	margin-top: 10px;
	margin-right: 10px;
	min-height: 50px;
}

.infomessage {
	border-top: #900 5px solid;
	border-left: #900 1px solid;
	border-color: #069;
	margin-top: 5px;
	margin-bottom: 5px;
}

.infomessage .icono{
	float: left;
	background-image: url('#{facesContext.externalContext.requestContextPath}/resources/img/infoGrande.gif');
	background-repeat: no-repeat;
	height: 40px;
	width: 32px;
	margin: 5px;
}

.infomessage .mensaje{
	margin-left: 50px;
	margin-top: 10px;
	margin-right: 10px;
	min-height: 50px;
}